/* HEADER STYLES */
.header {
  font-family: Quicksand;
  text-align: center;
}






/* B O D Y */

.map-row::after {
  content: "";
  clear: both;
  display: flex;
}

.legend-column {
  float: left;
  padding-top: 20px;
}

.map-column {
  float: right;
  text-align: center;
}

/* ACCORDION LEGEND */

#accordion {
  width: 30vw;
  padding-left: 10px;
}

/* .panel {
  padding-left: 20%
} */

.panel-heading {
  background-image: linear-gradient(to bottom, #045a8d 0, #2b8cbe 100%) !important;
}

.panel-title {
  color: white;
}




/* MAP STYLES */
.map {
  border: medium solid white;
  margin: 10px 0 0 20px;
  /* background-color: #1A1A1A; */
  background-color: #fff;
  position: relative;
  float: right;
  flex: 75%;
  width: 67vw;
  overflow-x: scroll;
  bottom: 10px;
}

.states {
  fill: #25383C;
  stroke: #000;
  stroke-width: .5px;
  stroke-linecap: round;
}

.lakes {
  fill: #2b8cbe;
  stroke: #737CA1;
  stroke-width: .5px;
  opacity: 95%;
}



/* BODY STYLES */
