              /* HEADER STYLES */
@font-face {
  font-family: Gotham;
  src: url(/img/Gotham-Bold.otf);
}

.header {
  font-family: Gotham;
  text-align: center;
  color: black;
  background-color: none;
}


/* Link colors */
a:link {
  color: #54278f;
}

a:visited {
  color: #756bb1;
}

              /* PARAGRAPH STYLES */

.InfoBody {
  width: 65vw;
  line-height: 20pt;
  padding-top: 70vh; /* pushes paragraphs down below map */
}

.paragraph {
  font-family: serif;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  color: black;
}

#welcome {
 font-weight: normal;
}

#imageTitle {
  padding-top: 10px;
  text-align: center;
}

#embeddedImg {
  padding-bottom: 40px;
}

              /* M A P  A N D  L E G E N D */

/* Map/Legend/Retrieve Containers */
.map-row {
  position: absolute;
  padding-top: 5vh;
}

.map-row::after {
  content: "";
  clear: both;
  display: flex;
  position: absolute;
}

.legend-column {
  float: left;
  padding-top: 0px;
}

.map-column {
  float:right;
  text-align: center;
}

.retrieveContainer {
  padding-left: 77vw;
  bottom: 340vh;
  position: relative;
  pointer-events: none;
}

.retrievePanel {
  width: 20vw;
  /* background-color: #adadad; */
  background-image: linear-gradient(to bottom, #54278f 0, #756bb1 100%) !important;
  position: relative;
  text-align: left;
  border-radius: 5px;
  font-family: Gotham;
  padding-left: 5px;
  pointer-events: none;
  color: #fff;
  font-size: 8pt;
}


/* LEGEND ACCORDION STYLES */
#accordion {
  width: 23vw;
  padding-left: 10px;
}

/* .panel {
  padding-left: 20%
} */

.panel-heading {
  background-image: linear-gradient(to bottom, #54278f 0, #756bb1 100%) !important;
}

.panel-title {
  color: white;
  /* pointer-events: none; */
}

/* MAP STYLES */
.map {
  /* border: medium solid white; */
  margin: 10px 0 0 20px;
  background-color: none;
  /* background-color: #fff; */
  position: relative;
  float: right;
  flex: 75%;
  width: 67vw;
  overflow-x: scroll;
  bottom: 25px;
}

.states {
  fill: #25383C;
  stroke: red;
  stroke-width: .5px;
  stroke-linecap: round;
}

.lakes {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: .5px;
  opacity: 100%;
}

/* RETRIEVE PANEL STYLES */

.infolabel {
margin: 0 20px 0 0;
position: absolute;
height: 75px;
min-width: 100px;
color: #fff;
background-image: linear-gradient(to bottom, #045a8d 0, #2b8cbe 100%) !important;
border: solid medium #fff;
padding: 5px 10px;
top: -75px;
text-align: center;
}

.infolabel h1 {
margin: 0 20px 0 0;
padding: 0;
display: inline-block;
line-height: 1em;
text-align: center;
}



/* A N I M A T I O N   S T Y L E S */

.area{
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height:400%;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

/* responsive iframe */
.iframeWrapper {
  position: relative;
  padding-bottom: 56.25%; /*assumes 16:9 aspect ratio*/
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.iframeWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
