/* HEADER STYLES */
@font-face {
  font-family: Gotham;
  src: url(/img/Gotham-Bold.otf);
}
.headerText {
  font-family: Gotham;
}

/* Link colors */
a:link {
  color: #54278f;
}

a:visited {
  color: #756bb1;
}


/* PARAGRAPH STYLES */
.paragraph {
  font-family: Quicksand;
  padding-left: 30px;
  padding-right: 30px;
}

#welcome {
 font-weight: normal;
}

#imageTitle {
  padding-top: 10px;
  text-align: center;
}

#embeddedImg {
  padding-bottom: 40px;
}






/* ACCORDION LEGEND */

#accordion {
  width: 30%;
  padding-left: 10px;
}

/* .panel {
  padding-left: 20%
} */

.panel-heading {
  padding-left: 10px;
}




/* MAP STYLES */
.map {
  border: medium solid red;
  margin: 10px 0 0 20px;
  /* background-color: #1A1A1A; */
  background-color: #ffffff;
  position: relative;
  float: right;
  flex: 75%;
  width: 70vw;
  overflow-x: scroll;
}
.mapContainer {
  fill: #ffffff;
}
.states {
  fill: #25383C;
  stroke: #000;
  stroke-width: .5px;
  stroke-linecap: round;
}

.lakes {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: .5px;
}


/* BODY STYLES */
