              /* HEADER STYLES */
.header {
  font-family: Quicksand;
  text-align: center;
}



              /* PARAGRAPH STYLES */
.paragraph {
  font-family: Quicksand;
  padding-left: 30px;
  padding-right: 30px;
}


              /* M A P  A N D  L E G E N D */

/* Map/Legend Containers */
.map-row::after {
  content: "";
  clear: both;
  display: flex;
}

.legend-column {
  float: left;
  padding-top: 20px;
}

.map-column {
  float: right;
  text-align: center;
}

/* ACCORDION LEGEND STYLES */
#accordion {
  width: 30vw;
  padding-left: 10px;
}

/* .panel {
  padding-left: 20%
} */

.panel-heading {
  background-image: linear-gradient(to bottom, #045a8d 0, #2b8cbe 100%) !important;
}

.panel-title {
  color: white;
}

/* MAP STYLES */
.map {
  border: medium solid white;
  margin: 10px 0 0 20px;
  /* background-color: #1A1A1A; */
  background-color: #fff;
  position: relative;
  float: right;
  flex: 75%;
  width: 67vw;
  overflow-x: scroll;
  bottom: 10px;
}

.states {
  fill: #25383C;
  stroke: red;
  stroke-width: .5px;
  stroke-linecap: round;
}

.lakes {
  fill: #2b8cbe;
  stroke: #737CA1;
  stroke-width: .5px;
  opacity: 95%;
}



/* Information Section Styles */
.InfoBody {
  width: 65vw;
  line-height: 20pt;
}

.paragraph {
  text-align: left;
}
